.noline {
  text-decoration: none; /* Ligne rajoutéé */
}

.post-proj {
  text-align: center;
  width: 350px;
  height: 60px;
  margin: 15px auto;
  background-image: url("../img/togglers/btn-prop.jpg");
  border-radius: 90px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -50px;
  transition: all 0.2s ease;
}

.post-proj a {
  padding-top: 18px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.post-proj:hover {
  transform: scale(1.015);
}

.post-proj a:hover {
  text-decoration: none;
}

.pic-rond {
	border-radius: 90px;
}

.field-global {
  position: relative;
  width: 100%;
  padding: 8px 120px 8px 25px;
  line-height: 12px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #414141;
  border: none;
  -webkit-appearance: none;
  -moz-box-shadow: 0 0px 1px #ebebeb;
  -webkit-box-shadow: 0 0px 1px #ebebeb;
  box-shadow: 0 0px 1px #ebebeb;
  background: #fcfcfc;
  border: solid 1px #e3e3e3;
  border-radius: 8px;
  outline: none;
  transition: box-shadow 0.3s ease-in;
}
.field-global:focus {
  -moz-box-shadow: 0 1px 10px #dfdfdf;
  -webkit-box-shadow: 0 1px 10px #dfdfdf;
  box-shadow: 0 1px 10px #dfdfdf;
}

.bandeau-projet {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.glob {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  *zoom: 1;
}

.head {
  height: 90px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
}
.head .nav {
  width: 50%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.head .nav .nav-items a {
  color: #95989a;
  text-decoration: none;
  display: block;
}
.head .nav .nav-items a:hover {
  cursor: pointer;
}

.head {
  background-color: #1D1D1D;
  height: 90px;
}

.title-art {
  padding-top: 25vh;
  text-shadow : 5px 5px 10px #414141;
  color: white;
  font-weight: 1200;
  font-size: 4em;
}

.questce {
  background-image: url('../img/accueil/oliver-pecker-364272-unsplash.jpg');
  background-size: 150%;
  background-repeat : no-repeat;
  height: 800px;
  width: 100%
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.CreaEntraide {
  background-image: url('../img/accueil/mitchell-hollander-205956-unsplash.jpg');
  background-size: 100% 100%;
  background-repeat : no-repeat;
  height: 1700px;
  width: 100%
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.presentation {
  width: 100%;
  margin: 0 auto;
}

.inscription {
  text-align: center;
  width: 100%;
  height: 200px;
  margin: 15px auto;
  background-image: url("../img/accueil/hugues-de-buyer-mimeure-335733-unsplash.jpg");
  border-radius: 18px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -50px;
  transition: all 0.2s ease;
}

.top .form-field .btns-acc .inscription a {
  padding-top: 10vh;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 40px;
  color: #FCFCFC;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.inscription:hover {
  transform: scale(1.015);
}

.inscription a:hover {
  text-decoration: none;
}

.connexion {
  text-align: center;
  width: 100%;
  height: 200px;
  margin: 15px auto;
  background-image: url("../img/accueil/felix-russell-saw-609921-unsplash.jpg");
  border-radius: 18px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -50px;
  transition: all 0.2s ease;
}

.top .form-field .btns-acc .connexion a {
  padding-top: 10vh;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 40px;
  color: #FCFCFC;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.connexion:hover {
  transform: scale(1.015);
}

.connexion a:hover {
  text-decoration: none;
}

.top {
  width: 85%;
  margin: 0 auto;
}

.headeracc .nav {
  width:100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.headeracc {
  height: 90px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
}

.headeracc {
  background-color: #1D1D1D;
  height: 90px;
  padding-bottom : 50px;
  padding-top : 50px;
}

.img{
	width: 90px;
}

.imggen {
	width: 50px;
}

.divimg {
	margin-right: 40%;
}

.titre-acc {
	font-weight: 900;
	font-size : 60px;
}

.soustitre-acc {
	font-weight: 900;
	font-size : 30px;
}

.text-presentation {
	color: #FCFCFC;
}

.marge {
	margin-top: 940px;
}

.footeracc {
  background-color: #1D1D1D;
  height: 120px;
}

.footeracc a {
  text-decoration: none;
  color: #fcfcfc;
}

.footer-content {
  width: 90%;
  padding-top: 30px;
}

.footer-socials {
  float: left;
}
.footer-socials ul {
  display: inline-block;
}
.footer-socials li {
  display: inline-block;
  margin-left: 15px;
}

.footer-links {
  float: right;
}

.footeracc {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.footeracc li {
  list-style: none;
}
.footeracc i {
  color: #ff5260;
}
.footeracc a {
  text-decoration: none;
}
.footeracc a:hover {
  color: #ff5260;
}

.bloc {
	width: 100%;
	height: 1000px;
	border-radius: 20px;
	background-color: #FCFCFC;
	border: solid 1px #e3e3e3;
}

.blocAP {
	width: 100%;
	height: 438px;
	border-radius: 20px;
	background-color: #FCFCFC;
	border: solid 1px #e3e3e3;
}

.blocM {
	width: 100%;
	height: 12150px;
	border-radius: 20px;
	background-color: #FCFCFC;
	border: solid 1px #e3e3e3;
}

.titr {
	color: #FF5260;
	padding-top: 40px;
	font-size: 40px;
	font-weight: 900;
}

.def {
	padding-top: 20px;
	font-size: 20px;
	text-align: justify;
}

.ali {
	width:80%;
	margin: 0 auto;
}

.deff {
	padding-top: 20px;
	font-size: 25px;
	text-align: center;
}

.none {
	font-size : initial;
}
.sec-p {
  margin: 30px 0px 30px 0px;
}
.capsule {
  width: 300px;
  height: 50px;
  margin-top: 15px;
  background-color: #ff5260;
  text-align: center;
  border-radius: 40px;
  padding-top: 10px;
  cursor: pointer;
}

.modal-content {
  padding: 10px;
}

.propos {
  float: right;
}
