.footer {
  background-color: $bgrey;
  height: 120px;
  margin-top: 70px;
}
.footer a{
  text-decoration: none;
  color: $white;
}
.footer-content{
    width: 90%;
    padding-top: 30px;
}
.footer-socials{
  float: left;
  ul{
    display: inline-block;
  }
  li{
    display: inline-block;
    margin-left: 15px;
  }
}
.footer-links{
  float: right;
}
.redac{
  margin: 40px 0px 40px 0px;
}
.introduction{
  @include flex(space-evenly);
  @include flex-wrap(wrap);
 width: 700px;

}

/* LAYOUT */
.global {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  *zoom: 1;
}


.field-proj {
  position: relative;
  width: 80%;
  padding: 8px 120px 8px 25px;
  line-height: 12px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #414141;
  border: none;
  -webkit-appearance: none;
  -moz-box-shadow: 1px 1px 6px #ebebeb;
  -webkit-box-shadow: 1px 1px 6px #ebebeb;
  box-shadow: 1px 1px 6px #ebebeb;
  background: #fcfcfc;
  border: solid 1px #C0C0C0;
  border-radius: 8px;
  outline: none;
  transition: box-shadow 0.3s ease-in;
  padding-top:100px;
  padding-bottom: 100px;
  margin : 0 auto;
}

.field-need {
  position: relative;
  width: 80%;
  padding: 8px 120px 8px 25px;
  line-height: 12px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #414141;
  border: none;
  -webkit-appearance: none;
  -moz-box-shadow: 1px 1px 6px #ebebeb;
  -webkit-box-shadow: 1px 1px 6px #ebebeb;
  box-shadow: 1px 1px 6px #ebebeb;
  background: #fcfcfc;
  border: solid 1px #C0C0C0;
  border-radius: 8px;
  outline: none;
  transition: box-shadow 0.3s ease-in;
}

.field-global:focus {
  -moz-box-shadow: 0 1px 10px #dfdfdf;
  -webkit-box-shadow: 0 1px 10px #dfdfdf;
  box-shadow: 0 1px 10px #dfdfdf;
}

.form-button {
  padding: 25px;
  background: #ff5260;
  color: #fff;
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: 600;
  border-radius: 60px;
  border: solid 1px #d5d5d5;
  cursor: pointer;
  -moz-box-shadow: 0 0 0 #fcfcfc;
  -webkit-box-shadow: 0 0 0 #fcfcfc;
  box-shadow: 0 0 0 #fcfcfc;
  border: none;
  text-decoration: none;
}

/* MODULES */
.header {
  background-color : $bgrey;
  height: 90px;
  margin-bottom: 40px;
}

.bandeau-profil {
  width: 100%;
  height: 250px;
  margin-top : -17px;
  background-repeat: no-repeat;
  background-position: center;
}

.center-footer {
	display: block;
	text-align:center;
}

.menu--projets {
	display: inline-block;
	width: 100px;
	height: 250px;
  background-color: $red;
	border-radius: 20px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0px -50px;
	margin-right : 15px;
	background-position: center;
  transition:all 0.3s ease-in;
  &:hover{
    transform: scale(1.035);

  }
			}
.menu--projets p {
	padding-top: 5px;
	padding-left : 10%;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	display: block;
	width: 100%;
	height: 100%;
	font-weight: bold;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 25px;
	vertical-align:middle;
	writing-mode: vertical-lr;
	text-orientation: sideways;
}

.title-articles {
	font-size : 50px;
}

.link-redac {
	padding-top : 24px;
	margin-bottom : -65px;
}

.content-articles {
	margin-left: 5%;
}

.title-art {
	padding-top: 13vh;
	color: white;
	font-weight : 900;
	font-size: 2em;
}

.field-CoIn {
  padding: 10px;
	margin-left: 5px;
  font-size: 18px;
  border: none;
  -webkit-appearance: none;
  -moz-box-shadow: 1px 1px 6px #ebebeb;
  -webkit-box-shadow: 1px 1px 6px #ebebeb;
  box-shadow: 1px 1px 6px #ebebeb;
  background: #fcfcfc;
  border: solid 1px #C0C0C0;
  border-radius: 40px;
  outline: none;
  transition: box-shadow 0.3s ease-in;

}
.profil-hobbie{
  width: 250px;
  height: 40px;
  background-color: $red;
  border-radius: 20px;
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
  p{
    padding-top: 7px;
    vertical-align: middle;
    text-transform: uppercase;
  }
}
.profil-field{
  background-color: #414141;
  color:$white;
}
.profil-ref{
    text-decoration: none;
    color:$black;
    &:hover{
      color:$red;
    }
    img{
      border-radius: 50%;
    }
}
.comment{
  margin-top: 10px;
}
.capsule{
  width: 300px;
  height: 50px;
  margin-top: 15px;
  background-color: $red;
  text-align: center;
  border-radius: 40px;
  padding-top: 10px;
  cursor: pointer;
}
.modal-content{
  padding: 10px;
}
.propos{
  float: right;
}
.sec-p{
  margin: 30px 0px 30px 0px;
}
.mini-pic{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
